agent:
  poll_interval: 10s
  pid_file: /run/luks-vault/luks-vault.pid
  log_file: /var/log/luks-vault/agent.log
  state_file: /var/lib/luks-vault/rotation.state

vault:
  address: https://127.0.0.1:8200
  auth_method: token
  token: change_me
  kv2_mount: luks/hostname
  secret_path: dev/sda
  tls:
    ca_cert: /etc/luks-vault/vault-ca.pem
    skip_verify: false

luks:
  enabled: true
  device: /dev/sda
  passphrase_dir: /etc/data-at-rest
  cryptsetup_use_sudo: true
